@{
    ViewBag.Title = "Manage";
}

<h2>Manage Menus</h2>
<div class="col-lg-12" style="height:40em;">
    <br /><br />
    <div class="col-lg-12 row" style="text-align:center">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="file" name="Menu" class="input-group" />
        </div>
    </div>
    <br /><br />
    <div class="col-lg-12 row">
        <table class="table">
            <thead class="header">
                <tr><td><strong>Menu Name</strong></td><td><strong>Active</strong></td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Summer Menu</td>
                    <td><input type="checkbox" /> </td>
                </tr>
                <tr>
                    <td>Spring Menu</td>
                    <td><input type="checkbox" /> </td>
                </tr>
                <tr>
                    <td>Fall Menu</td>
                    <td><input type="checkbox" /> </td>
                </tr>
                <tr>
                    <td>Winter Menu</td>
                    <td><input type="checkbox" /> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>